eader {
    background-image: url(contours@2x.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
    background-size: 50% auto, auto, auto, cover;
}

@media only screen and (max-width: 1132px) header {
    border-top: solid 10px rgba(19, 67, 71, 0.9);
}

header {
    height: 230px;
    padding: 20px 0 70px 0;
    background: #2d6360 50% 0 url(huntington.jpg) no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-image: url(contours.png), url(noise.png), url(gridlines.png), url(huntington.jpg);
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    color: #325050;
    background: #fff;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 70%;
}

background-attachment: fixed,
fixed,
fixed,
scroll;
background-clip: border-box,
border-box,
border-box,
border-box;
background-color: rgb(45, 99, 96);
background-image: url(http://www.csszengarden.com/214/contours@2x.png),
url(http://www.csszengarden.com/214/noise.png),
url(http://www.csszengarden.com/214/gridlines.png),
url(http://www.csszengarden.com/214/huntington.jpg);
background-origin: padding-box,
padding-box,
padding-box,
padding-box;
background-position-x: 0px,
0px,
-5px,
0px;
background-position-y: 0px,
0px,
-25px,
50%;
background-repeat-x:;
background-repeat-y:;
background-size: 50%,
auto,
auto,
cover;
border-top-color: rgba(19, 67, 71, 0.9);
border-top-style: solid;
border-top-width: 10px;
box-sizing: border-box;
color: rgb(50, 80, 80);
display: block;
font-family: "Libre Baskerville",
sans-serif;
font-size: 11.2px;
height: 230px;
padding-bottom: 70px;
padding-left: 0px;
padding-right: 0px;
padding-top: 20px;
text-align: center;
width: 702.667px;
Rendered Fonts Libre Baskerville—Network resource(21 glyphs) Julius Sans One—Network resource(14 glyphs)