<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Success</title>
    <link rel="stylesheet" href="../public/assets/css/success.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
                <h1 class="text-center" id="name"></h1>
                <h1 class="text-center" id="studentId"></h1>
              </div>
          
              <div class="row">
    <h1>New User Set Up</h1>

    <form action="/addUser" method="POST">
        First name:
        <br>
        <input type="text" id="first_name" name="firstName" placeholder="John" required>
        <br>
        <br>
        Last name:
        <br>
        <input type="text" name="lastName" placeholder="Smith" required>
        <br>
        <br>
        Driver:
        <br>
        True 
        <input type="radio" name="driver" value=1>
        <br>
        False 
        <input type="radio" name="driver" value=0>
        <br>
        <br>
        Email:
        <br>
        <input type="email" name="email" placeholder="john.smith@gmail.com" required>
        <br>
        <br>
        Emergency Contact Name:
        <br>
        <input type="text" name="emergName" placeholder="Jane Smith" required>
        <br>
        <br>
        Emergency Contact Number:
        <br>
        <input type="text" name="emergNumber" placeholder="1234567890" required>
        <br>
       
        <br>
        <a href="/add"> <input type="submit" id="new" value="Submit"></a>
    </form>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">

  $("#new").on("click", function(event) {

var first_name = $("#first_name").val();
//var studentId = $("#StudentId").val();
sessionStorage.setItem("name", first_name);
sessionStorage.setItem("studentId", studentId);
  });

   $("#first_name").text(sessionStorage.getItem("name"));
   //$("#name").text(sessionStorage.setItem("studentId"));


    var config = {
        apiKey: "AIzaSyD9Z4QSlx1pOPRUurwF19-RJjAV9E0mI2w",
        authDomain: "where-ya-at-8a1b1.firebaseapp.com",
        databaseURL: "https://where-ya-at-8a1b1.firebaseio.com",
        projectId: "where-ya-at-8a1b1",
        storageBucket: "where-ya-at-8a1b1.appspot.com",
        messagingSenderId: "667593757795"
    };
    var email = '';
    firebase.initializeApp(config);
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            event.preventDefault();
            email = { userEmail: user.email };
            $.ajax("/isDriver", {
                type: "POST",
                data: email
            }).then(function (res) {
                if (res.result.length > 0) {
                    if (res.result[0].driver) {
                        window.location.href = "/driver"
                    }
                    else {
                        window.location.href = "/rider"
                    }
                }
                else {
                    window.location.href = "/newUser"
                }
            });

        }

    });
</script>

</html>