<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Update Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
    <link rel="stylesheet" href="/assets/css/style1.css" type="text/css" />
</head>

<body>
    <h1>Update Info</h1>

    <div>
        <div id="currentInfo"></div>
        <hr>
        <form id="updateinfo" class="button-size">
            <select name="id">
                <option></option>
            </select>
            <br>
            <p id="firstName" hidden>
                First name:
                <br>
                <input type="text" name="first_name" placeholder="John">
                <br>
                <br>
            </p>
            <p id="lastName" hidden>
                Last name:
                <br>
                <input type="text" name="last_name" placeholder="Smith">
                <br>
                <br>
            </p>
            <p id="changeDriver" hidden>
                Driver:
                <br> True
                <input type="radio" name="driver" value=1>
                <br> False
                <input type="radio" name="driver" value=0>
                <br>
                <br>
            </p>
            <p id="changeEmail" hidden>
                Email:
                <br>
                <input type="email" name="email" placeholder="john.smith@gmail.com">
                <br>
                <br>
            </p>
            <p id="emergName" hidden>
                Emergency Contact Name:
                <br>
                <input type="text" name="emergency_contact_name" placeholder="Jane Smith">
                <br>
                <br>
            </p>
            <p id="emergNumb" hidden>
                Emergency Contact Number:
                <br>
                <input type="text" name="emergency_contact_number" placeholder="1234567890">
                <br>
                <br>
            </p>
        </form>
    </div>

    <button id="submit">Submit</button>

    <script type="text/javascript">
        var config = {
            apiKey: "AIzaSyD9Z4QSlx1pOPRUurwF19-RJjAV9E0mI2w",
            authDomain: "where-ya-at-8a1b1.firebaseapp.com",
            databaseURL: "https://where-ya-at-8a1b1.firebaseio.com",
            projectId: "where-ya-at-8a1b1",
            storageBucket: "where-ya-at-8a1b1.appspot.com",
            messagingSenderId: "667593757795"
        };
        var email = '';
        var userIsDriver = '';
        firebase.initializeApp(config);
        firebase.auth().onAuthStateChanged(function (user) {
            if (user) {
                event.preventDefault();
                var databaseNames = ["first_name", "last_name", "driver", "email", "emergency_contact_name", "emergency_contact_number"];
                var labelArray = ["First Name", "Last Name", "Is A Driver?", "Email", "Emergency Contact Name", "Emergency Contact Number"];
                email = { userEmail: user.email };
                $.ajax("/isDriver", {
                    type: "POST",
                    data: email
                }).then(function (res) {
                    userIsDriver = res.result[0].driver;
                    if (res.result[0].driver) {
                        $.ajax("/pullDriverUser", {
                            type: "POST",
                            data: email
                        }).then(function (result) {
                            var resultArray = [result.result[0].first_name, result.result[0].last_name, result.result[0].driver, result.result[0].email, result.result[0].emergency_contact_name, result.result[0].emergency_contact_number];
                            var currentInfo = $("#currentInfo");
                            for (i = 0; i < labelArray.length; i++) {
                                var div = $("<div>");
                                div.text(labelArray[i] + ": " + resultArray[i]);
                                currentInfo.append(div);
                            }
                            loadOptions();
                        });
                    }
                    else {
                        $.ajax("/pullRiderUser", {
                            type: "POST",
                            data: email
                        }).then(function (result) {
                            console.log(result);
                            var resultArray = [result.result[0].first_name, result.result[0].last_name, result.result[0].driver, result.result[0].email, result.result[0].emergency_contact_name, result.result[0].emergency_contact_number];
                            var currentInfo = $("#currentInfo");
                            for (i = 0; i < labelArray.length; i++) {
                                var div = $("<div data-edit = '" + databaseNames[i] + "'>");
                                div.text(labelArray[i] + ": " + resultArray[i]);
                                currentInfo.append(div);
                            }
                            loadOptions();
                        });
                    }
                }
                );
            }
            else {
                console.log("You are logged out. Log in and try again.");
            }

            var loadOptions = function () {
                var tag = $("[name=id]");
                for (i = 0; i < labelArray.length; i++) {
                    var updateTag = $("<option value = " + databaseNames[i] + ">");
                    updateTag.text(labelArray[i]);
                    tag.append(updateTag);
                }
            }

            $('[name=id]').on('change', function () {

                switch ($(this).val()) {

                    case "first_name":
                        $("#firstName").show();
                        $("#lastName").hide();
                        $("#changeDriver").hide();
                        $("#changeEmail").hide();
                        $("#emergName").hide();
                        $("#emergNumb").hide();
                        break;

                    case "last_name":
                        $("#lastName").show();
                        $("#firstName").hide();
                        $("#changeDriver").hide();
                        $("#changeEmail").hide();
                        $("#emergName").hide();
                        $("#emergNumb").hide();
                        break;

                    case "driver":
                        $("#changeDriver").show();
                        $("#lastName").hide();
                        $("#firstName").hide();
                        $("#changeEmail").hide();
                        $("#emergName").hide();
                        $("#emergNumb").hide();
                        break;

                    case "email":
                        $("#changeEmail").show();
                        $("#lastName").hide();
                        $("#changeDriver").hide();
                        $("#firstName").hide();
                        $("#emergName").hide();
                        $("#emergNumb").hide();
                        break;

                    case "emergency_contact_name":
                        $("#emergName").show();
                        $("#lastName").hide();
                        $("#changeDriver").hide();
                        $("#changeEmail").hide();
                        $("#firstName").hide();
                        $("#emergNumb").hide();
                        break;

                    case "emergency_contact_number":
                        $("#emergNumb").show();
                        $("#lastName").hide();
                        $("#changeDriver").hide();
                        $("#changeEmail").hide();
                        $("#emergName").hide();
                        $("#firstName").hide();
                        break;

                }
            });

            $("#submit").on("click", function (event) {
                // Make sure to preventDefault on a submit event.
                event.preventDefault();

                var dbEdit = $('[name=id]').val();
                var valueToEdit = $("[name=" + dbEdit + "]").val();
                console.log(dbEdit);
                console.log(valueToEdit);

                var toUpdate = {
                    valEdit: valueToEdit,
                    databaseEdit: dbEdit,
                    userEmail: email.userEmail,
                    userDriver: userIsDriver
                };

                // Send the PUT request.
                $.ajax("/updateInfo", {
                    type: "POST",
                    data: toUpdate
                }).then(
                    function () {
                        console.log("User updated!");
                        if (userIsDriver) {
                            window.location.href = "/driver"
                        }

                        else {
                            window.location.href = "/rider"
                        }
                    }
                );
            });
        });
    </script>
</body>

</html>