body {
    background-image: url("../img/kids.jpg");
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
 }

.drawingBuffer{
    width: 200px;
    height: 200px;
}
main {
    flex: 1 0 auto;
  }
   